[submodule "biwascheme"]
	path = biwascheme
	url = git@github.com:nzinfo/biwascheme.git
[submodule "treehugger"]
	path = treehugger
	url = git@github.com:nzinfo/treehugger.git
[submodule "commandant"]
	path = commandant
	url = git@github.com:nzinfo/commandant.git
[submodule "jq-console"]
	path = jq-console
	url = git@github.com:nzinfo/jq-console.git
[submodule "IndexedDBShim"]
	path = IndexedDBShim
	url = git@github.com:nzinfo/IndexedDBShim.git
[submodule "ueditor"]
	path = ueditor
	url = git@github.com:nzinfo/ueditor.git
[submodule "plv8"]
	path = plv8
	url = git@github.com:nzinfo/plv8.git
[submodule "ace"]
	path = ace
	url = git@github.com:nzinfo/ace.git
