[submodule "biwascheme"]
	path = biwascheme
	url = git@github.com:nzinfo/biwascheme.git
[submodule "treehugger"]
	path = treehugger
	url = git@github.com:nzinfo/treehugger.git
[submodule "commandant"]
	path = commandant
	url = git@github.com:nzinfo/commandant.git
[submodule "jq-console"]
	path = jq-console
	url = git@github.com:nzinfo/jq-console.git
